*{
  margin: 0;
  padding: 0;
}

.content-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.color{
  color: #DA6800;
}
.heading-2{
  font-size: 16;
  font-weight: 600;
}
.food-price{
   font-size: 14px;
   font-weight: 500;
}
.form-control{
  box-shadow: none !important;
  border: none !important;
}



@media only screen and (max-width: 576px) {
  .modal-dialog-centered {
    align-items: end !important;
  }.modal{
      -webkit-animation-name: slideInUp;
      animation-name: slideInUp;
      -webkit-animation-duration: .1s;
      animation-duration: .5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes slideInUp {
      0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
      }
      100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      }
      }
      @keyframes slideInUp {
      0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
      }
      100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      }
      } 
  } 

  .content-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnStyle{
    background-color: #DA6800;
    border: none;
    padding:.5rem 1.5rem .5rem 1.5rem;
    color: white;
    border-radius:.2rem;
  }